html, head, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
/*    font-size: 62.5%;*/
}

h1, h2, h3 {
    font-family: 'Maitree', 'Amiko', serif;
}


* {
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Amiko', sans-serif;
  color: #004B23;
}


.nav {
  list-style: none;
/*
  background-image: url(images/waterfall.JPG);
  opacity: 0.2;
  background-size: cover;
*/
  text-align: center;
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
    z-index: 99;
}

.nav li {
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 4px;
}
 
.nav a {
  text-decoration: none;
  color: #004B23;
  display: inline-block;
  transition: .3s;
  z-index: 99;
}

.nav-logo {
    width: 45px;
    height: 40px;
    float: left;
    background-image:url(images/Personal_logo_green.gif);
    background-size: 100% 100%;
    margin-left: 10px;
    
}

.nav-items {
    float: right;
    margin-right: 100px;
}


img {
    max-height: 100%;
    max-width: 100%;
}

footer {
    width: 100%;
    height: 100%;
    padding: 4px;
    bottom: 0;
    display: block;
    background: url(images/waterfall.gif);
    background-size: cover;
    text-align: center;
    padding-bottom: 20px;
}


ul {
    margin: 0px 0px;
    list-style-type: none;
    
}



.logo {
    float: left;
    margin-top: 10px;
    
}


.body-container {
    position: relative;
    height: 100%;
/*    border: 1px solid blue;*/
    top: 0;
    left: 0;
/*
    background-image: url(images/waterfall.JPG);
    opacity: 0.1;
    background-size: cover;
    
*/
    
}



li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 60px;
    
}

.work-pages {
    min-height: 700px;
    position: relative;
    overflow: auto;
}

.work-link {
    font-size: 40px;
    font-family: 'Maitree', serif;
    margin: 0px 30px;
    display: inline-block;
    cursor: pointer;
    color: #004B23;
}

.work-section {
    width: 100%;
    box-sizing: border-box;
    display: none;
    margin: 0;
    background-color: bisque;
}




.nav-wrapper {
    float: right;
    margin-right: 10px;
    padding-top: 10px;
}

p {
    font-size: 20px;
    padding-bottom: 2px;
}

.about-img {
    height: 200px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    
}

.work-links {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    padding: 0;

}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}



.intro-link {
    
    cursor: pointer;
}

.work-title {
    cursor: pointer;
}

.work-title:hover {
    color: #005f5f;
}

.work-link:hover {
    text-decoration: underline;
}

.intro-link:hover {
    color: #005f5f;
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px #B8F39D;
}





.button {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #004B23;
    
}

.work-footer {
    position: relative;
}




a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


.hover {
    text-decoration: underline;
}
    





.landing {
    text-align: center;
    padding: 150px 0px;
    background: url(images/logo-pattern.gif);
    background-size: cover;
}



.about {
    text-align: center;
    height: 100%;
    background-color: floralwhite;
    padding: 20px 0px;
}



.work-landing {
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 90px;
    background: url(images/logo-pattern.gif);
    background-size: cover;
}

.work-about {
    text-align: center;
    height: 100%;
    background-color: white;
    padding: 20px 0px;
    margin: 0;
}



.work-1 {
    text-align: center;
    height: 100%;
    background-color: #FAF995;
    padding: 20px 0px;

}

.work-2 {
    text-align: center;
    height: 100%;
    background-color: white;
    padding: 20px 0px;
    margin: 0;
}

.work-3 {
    text-align: center;
    height: 100%;
    background-color: #B8F39D;
    padding: 20px 0px;

}

h2 {
    font-size: 40px;
}

strong {
    font-size: 20px;
}

.contact {
    font-size: 30px;
    margin: 0px 40px;
    display: inline-block;
    cursor: pointer;
}

small {
    margin-top: 20px;
}

.landing-description {
    font-size: 35px;
    font-family: 'Maitree', serif;
}

.work-logo {
    width: 110px;
    height: 100px;
}

.nav-item:active {
    text-decoration: underline;
}


.obvious-links {
    color: #7E0D59;
}



.work-about ul, li {
    margin: 0;
    padding: 0;
}

.work-wrapper {
    width: 75%;
    margin: auto;
}

.work-4 {
    text-align: center;
    height: 100%;
    background-color: white;
    padding: 20px 120px;


}



.landing-wrapper {
    width: 85%;
    margin: auto;
}

@media screen and (min-width: 600px) {
  .nav li {
    height: 50px;
    width: 120px;
  }
}
