html, head, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
/*    font-size: 62.5%;*/
}

h1, h2, h3 {
    font-family: 'Quattrocento', 'Georgia', serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 60px;
    line-height: 1.2;
    
}

h2 {
    font-size: 35px;
    line-height: 1.6;
}

h4 {
    margin: 0;
}

* {
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Quattrocento Sans', 'Helvetica', sans-serif;
  color: #004B23;
}


.nav {
  list-style: none;
/*
  background-image: url(images/waterfall.JPG);
  opacity: 0.2;
  background-size: cover;
*/
  text-align: center;
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
    z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}


 
.nav a {
  text-decoration: none;
  color: #004B23;
  display: inline-block;
  transition: .3s;
  z-index: 99;
}

  

.nav-logo {
    width: 45px;
    height: 40px;
    float: left;
    background-image:url(images/Personal_logo_green.gif);
    background-size: 100% 100%;
    margin-left: 10px;
    
}

.nav-items {
    float: right;
    margin-right: 100px;
}


img {
    max-height: 100%;
    max-width: 100%;
    margin: 20px 0px;
}

footer {
     width: 100%;
    height: 100%;
    padding: 20px 4px;
    bottom: 0;
    display: block;
/*
    background: url(images/waterfall.gif);
    background-size: cover;
*/
    text-align: center;
    background-color: #B8F39D;
}


ul {
    margin: 0px 0px;
    padding: 0px;
    list-style-type: none;
    
}



.logo {
    float: left;
    margin-top: 10px;
    
}


.body-container {
    position: relative;
    height: 100%;
/*    border: 1px solid blue;*/
    top: 0;
    left: 0;
/*
    background-image: url(images/waterfall.JPG);
    opacity: 0.1;
    background-size: cover;
    
*/
    
}


li {
    list-style: none;
}



.work-pages {
    min-height: 700px;
    position: relative;
    overflow: auto;
}

.work-link {
    font-size: 25px;
    margin: 5px 10px;
    display: inline-block;
    cursor: pointer;
    color: #004B23;
}

.work-section {
    width: 100%;
    box-sizing: border-box;
    display: none;
    margin: 0;
    background-color: bisque;
}





p {
    font-size: 20px;
    padding-bottom: 2px;
    line-height: 1.6;
}

.about-img {
    height: 200px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    
}

.work-links {
    width: 70%;
    margin: 10px auto;

}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}



.intro-link {
    
    cursor: pointer;
}

.work-title {
    cursor: pointer;
}

.work-title:hover {
    color: #005f5f;
}

.work-link:hover {
    text-decoration: underline;
}

.intro-link:hover {
    color: #005f5f;
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px #B8F39D;
}





.button {
    display: inline-block;
    margin: 4px 20px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

a {
    text-decoration: none;
    color: #004B23;
    
}

.work-footer {
    position: relative;
}




a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


.underline {
    text-decoration: underline;
}
    





.landing {
    text-align: center;
    padding: 260px 0px;
    background: url(images/logo-pattern.gif);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.about {
    text-align: center;
    height: 100%;
    background-color: white;
    padding: 60px 0px;
}



.work-landing {
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 10px;
    background: url(images/logo-pattern.gif);
    background-size: cover;
}

.work-about {
    text-align: center;
    height: 100%;
    background-color: white;
    margin: 0;
}



.work-1 {
    text-align: center;
    height: 100%;
    background-color:  #FAF995;
    padding: 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work-2 {
    text-align: center;
    height: 100%;
    background-color: white;
    padding: 10px 0px;
    margin: 0;
}

.work-3 {
    text-align: center;
    height: 100%;
    background-color: #B7BBF5;
    padding: 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



strong {
    font-size: 20px;
}

.contact {
    font-size: 20px;
    margin: 0px 40px;
    display: inline-block;
    cursor: pointer; 
}

small {
    margin-top: 20px;
}

.landing-description {
    font-size: 25px;
}

.work-logo {
    width: 110px;
    height: 100px;
}

.nav-item:active {
    text-decoration: underline;
}


.obvious-links {
    color: #0D7B7E;
}



.work-about ul, li {
    margin: 0;
    padding: 0;
}

.work-wrapper {
    width: 60%;
    margin: 10px auto;
    text-align: center;
    padding: 40px 0px;
   
}

.work-4 {
    text-align: center;
    height: 100%;
    background-color: white;
    padding: 20px 120px;


}



.landing-wrapper {
    width: 85%;
    margin: auto;
}

@media screen and (min-width: 600px) {
  .nav li {
    height: 50px;
    width: 100px;
    font-size: 20px;
    line-height: 40px;
    display: inline-block;
    margin-right: 4px;
  }

}


/*Cellphone size only*/
@media screen and (max-width: 600px) {
      .nav li {
        height: 50px;
        width: 60px;
        font-size: 16px;
        line-height: 40px;
        display: inline-block;
        margin-right: 4px;
      }

     .dropdown {
        margin-left: 10px;
    }

    .work-wrapper {
        width: 80%;
    }
    
    .landing {
        padding-top: 100px;
        padding-bottom: 20px;
    }
    
}


.left-side, .verticalLine {
    width: 80%;
    margin: auto;
}

.nav-wrapper {
    float: right;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 0px;
}
    


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
/*    display: none;*/
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-color: green;
    padding-left: 0;
    left: 0;
    right: auto;
    margin-left: -10px;
    margin-top: 10px;
}

.nav ul.dropdown-content {
    display: none;
}

.nav ul.show {
    display: block;
}

#droplink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-content a {
    display: block;
    
}

.square {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work-link:active {
    text-decoration: underline;
}

.dropdown-content li {
    height: 40px;
    width: 100px;
    font-size: smaller;
}

.dropdown-content li:active {
    text-decoration: underline;
}


.work-wrapper .button {
    background-color: #004B23;
    color: white;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    font-size: 16px;
    padding-top: 15px;
    margin: 20px 30px;
}



.picture {
    width: 150px;
    margin: auto;
}

.footer-icons {
    padding: 16px;
}

.footer-icons img {
    margin: 0;
}

.videoWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    
}

.videoWrapper iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    box-sizing: content-box;
}



/*Desktop size for About page*/
@media screen and (min-width: 838px) {
  .verticalLine {
    border-left: thin solid black;
    width: 50%;
    float: right;
    padding: 0px 78px 0px 47px
}

.left-side {
    float: left;
    width: 40%;
    margin-left: 72px;
    padding: 0px 20px;
}
    .divider {
        display: none;
    }
    
.right-side {
    padding: 0px 20px;
    margin: 0px 4px;
}

    
}



.both {
    overflow: hidden;
    margin: 18px 0px;
}

.vertical_Line {
    height:150px; 
    width:1px;
    background:#000;
    clear: both;
}

hr {
    width: 30%;
    margin: 40px auto;
}

/*
.about-box {
    padding: 0px 20px;
}
*/

.about-header {
    padding
}


.graphic {
    width: 50%;
    display: inline-block;
}

#myImg {
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;  /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* image */
.modal-content {
      margin: auto;
    display: block;
/*
    width: 80%;
    object-fit: contain;
*/
    max-width:700px;
/*    max-height:700px;*/
    width:auto;
    height:auto;
    
    
}


@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
     position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}

.about-box img {
    max-height: 70px;
    height: auto;
}
