

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Raleway', serif;
  color: #004B23;
  background: url(images/waterfall2.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.nav {
  list-style: none;
/*
  background-image: url(images/waterfall.JPG);
  opacity: 0.2;
  background-size: cover;
*/
  text-align: center;
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #B8F39D;
}

.nav li {
  font-family: inherit;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
  margin-right: 4px;
}
 
.nav a {
  text-decoration: none;
  color: #004B23;
  display: inline-block;
  transition: .3s;
  z-index: 99;
}

.nav-logo {
    width: 40px;
    height: 35px;
    float: left;
    background-image:url(images/Personal_logo_green.gif);
    background-size: 100% 100%;
    
}

.nav-items {
    float: right;
    margin-right: 100px;
}
 
.nav a:hover {
  color: #005f5f;
    
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



#bottom-left {
    width: 25%;
    height: 500px;
    margin: 5px 5px;
    float: left;
/*    border: 1px solid green;*/
}

#right-side {
    width: 85%;
    background-color: #93E0F1;
    padding: 15px;
    margin: 0 auto;  
    position: relative;
    
    
    
  
  

}

img {
    max-height: 100%;
    max-width: 100%;
}

footer {
    width: 100%;
    background: #8C96A4;
    padding: 4px;
    color: white;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    display: block;
    height: 30px;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  
 




ul {
    margin: 0px 0px;
    list-style-type: none;
    
}



.logo {
    float: left;
    margin-top: 7px;
    
}





html {
    margin: 0;
    padding: 0;
    
}







.body-container {
    position: relative;
    height: 100%;
/*    border: 1px solid blue;*/
    top: 0;
    left: 0;
/*
    background-image: url(images/waterfall.JPG);
    opacity: 0.1;
    background-size: cover;
    
*/
    
}







#main-page {
    text-align: center;
    height: 500px;
    padding: 50px;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    
}

.work-pages {
    min-height: 700px;
    position: relative;
    overflow: auto;
}

#work-link {
    font-size: 30px;
    margin: 0px 40px;
    display: inline-block;
    cursor: pointer;
    color: #004B23;
}

.work-section {
    position: absolute;
    width: 95%;
    padding: 15px;
    box-sizing: border-box;
    display: none;
}

#bottom-left ul {
    padding-left: 0px;
    margin-left: 35%;
}

#right-side ul {
    padding-left: 0px;
}

#right-side li {
    margin: 20px auto;
    font-size: 30px;
}







.nav-wrapper {
    float: right;
}

p {
    margin-bottom: 11px;
}

.about-img {
    height: 200px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    
}

.work-links {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    padding: 0;

}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}



.intro-link {
    
    cursor: pointer;
}

.work-title {
    cursor: pointer;
}

.work-title:hover {
    color: #005f5f;
}

#work-link:hover {
    color: #005f5f;
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px #B8F39D;
}

.intro-link:hover {
    color: #005f5f;
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px #B8F39D;
}





.nav img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
    background-size: cover;
    
}

.button {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #004B23;
    
}

.work-footer {
    position: relative;
}

.template {
    color: aquamarine;
    height: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.contact-side {
    text-align: center;
}

.nav-item:hover {
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px #8C96A4;
    
}

a:hover {
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px #8C96A4;
}





.explore {
    font-size: 30px;
}

.byline {
    font-size: 40px;
}
