<div class="work-about">
    <img src='css/images/design-logo.gif' class='work-logo'>
    <p>Good design makes the world beautiful.</p>
    <h2>Experience</h2>
    <ul>
        <li>1 year graphic design</li>
        <li>2 years web design</li>
    </ul>
    <h2>Skills</h2>
    <ul>
        <li>Adobe Illustrator, Photoshop</li>
    </ul>
</div>

<div class="work-1">
    <div class='work-wrapper'>
    <h2>Graphic Design</h2>
    <p>Check out my design <a href='https://www.behance.net/karenalin' class='obvious-links'>portfolio</a>.</p>
    </div>
</div>

<div class='work-2'>
    <div class='work-wrapper'>
    <img src="css/images/anatomyoflogo.gif">
    </div>
</div>

<div class='work-3'>
    <div class='work-wrapper'>
    <img src="css/images/Hogwarts.png">
    </div>
</div>
