<div class="work-about">
    <div class='work-wrapper'>
    <img src='css/images/design-logo.gif' class='work-logo'>
    <p>“Every great design begins with an even better story.” <br />-Lorinda Mamo</p>
    <h3>Experience</h3>
    <ul>
        <li>UX research and review at Rakuten USA</li>
        <li>Web and graphic design classes at UC Berkeley</li>
        <li>Graphic design at Irish Independent and The Daily Californian</li>
        <li>Logo, UI design for personal website</li>
    </ul>
    <br />
    <h3>Skills</h3>
    <ul>
        <li>Researching, prototyping</li>
    </ul>
    <br />
    <h3>Tools</h3>
    <ul>
        <li>Sketch, Balsamiq, Adobe Illustrator, Photoshop, InDesign</li>
    </ul>
    </div>
</div>

<div class="work-1">
    <div class='work-wrapper'>
    <h2>Personal Website</h2>
        <img src='css/images/currentdesign.png' class='square'>
        <p>This website was born after much research, design, and fiddling with CSS, <a href='http://imgur.com/gallery/Q3cUg29' class='obvious-links'>Peter Griffin style</a>. It's still evolving to become more functional and mobile responsive.</p>
    <a href='website.html' class='button'>Learn more</a>
    </div>
</div>

<div class='work-2'>
    <div class='work-wrapper'>
    <h2>Ranker</h2>
    <img src='css/images/rankerwireframe.png' class='square'>
    <p>I love making lists and ranking items, so I wrote a script to help me do both. The program helps users compare all the items in their list using the Shell sort algorithm (my favorite), then displays the final ranked list. I'm still in the process of turning it into a web application using ReactJS.</p>
    <a href='ranker.html' class='button'>Learn more</a>
    </div>
</div>

<div class='work-3'>
    <div class='work-wrapper'>
    <h2>Logo Design</h2>
    <p>Designing a brand or logo is the perfect time to reflect upon personal identity. I used my various interests and cultural identity as starting points for ideas.</p>
    <a href='logo.html' class='button'>Learn more</a>
    <img id='myImg' src="css/images/anatomyoflogo.gif" alt='Anatomy of a Logo' class='square'>
    <div id="myModal" class="modal">
        <span class="close">×</span>
        <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>
    </div>
</div>

<div class='work-4'>
    <div class='work-wrapper'>
    <h2>Graphic Design</h2>
    <p>I designed an assortment of infographics, posters, and programs. These projects taught me about typography, color, and most importantly, the almighty pen tool.</p>
    <a href='https://www.behance.net/karenalin' class='button'>View on Behance</a>
    <img src="css/images/Hogwarts.png" class='square' alt='Hogwarts graphic'>
    <img src="css/images/cellonile.png" class='square' alt='Magical realism: the Berkeley campanile as a cello fingerboard'>
</div>
</div>






