    
    <footer class="global-footer">
        <h2>Let's be friends!</h2>
         <div class='footer-icons'>
            <a href= "mailto:karenarialin@gmail.com" class='button'><img src='css/images/emaillogo.gif' /></a>
            <a href='https://www.linkedin.com/in/karenalin6' class='button'><img src='css/images/linkedinlogo.gif' /></a>
            <a href='https://twitter.com/karenarialin' id='twitter' class='button'><img src='css/images/twitterlogo.gif' /></a>

           <a href='https://github.com/karenarialin' id='github' class='button'><img src='css/images/githublogo.gif' /></a>
        </div>
        <small>Psst...I also make <a href="music.html" class='obvious-links'>music!</a></small>
        <br />
        <small>Icons and designs &copy; <script type="text/javascript">
  document.write(new Date().getFullYear());
</script> Karen Lin</small>
        
    </footer>
    
    </div>
    
    </body>
</html>