    
    <footer class="global-footer">
        <h1>Let's be friends!</h1>
        <ul>
            <li class='contact'><a href= "mailto:karenarialin@gmail.com">Email</a></li>
            <li class='contact'><a href='https://www.linkedin.com/in/karenalin6'>LinkedIn</a></li>
            <li class='contact'><a href='https://twitter.com/karenarialin'>Twitter</a></li>
            <li class='contact'><a href='https://github.com/karenarialin'>GitHub</a></li>
        </ul>
        <span class='stretch'></span>
        <small>&copy; 2016 Karen Lin</small>
        
    </footer>
    
    </div>
    
    <span class="snowman"></span>
    
    </body>
</html>