<div class="work-about">
    <div class='work-wrapper'>
    <img src='css/images/music-logo.gif' class='work-logo'>
    <p>"Music begins where the possibilities of language end." <br />-Jean Sibelius</p>
    <h3>Experience</h3>
    <h4>Percussion</h4>
    <ul>
        <li>14 years percussion ensemble with U Music Education Foundation</li>
        <li>Various duets/trios (where I play flower pots, baking pans, cajon, stools)</li>
        <li>3 years high school marching band (section leader of pit 2 years, drumline 1 year)</li>
        <li>6 years orchestra (with UC Berkeley, state/national honor ensembles, high school)</li>
        <li>4 years concert band (with state honor ensembles, high school)</li>
        <li>1 semester gamelan at UC Berkeley</li>
    </ul>
    <h4>Piano</h4>
    <ul>
        <li>10 years private lessons</li>
    </ul>
    <h4>Voice</h4>
    <ul>
        <li>Crystal Children's Choir</li>
        <li>1 semester University Chorus at UC Berkeley</li>
    </ul>
    <h4>Composition</h4>
    <ul>
        <li>4 years classical composition</li>
        <li>1 year Music Producer at The Daily Californian</li>
    </ul>
    <h4>Miscellaneous</h4>
    <ul>
        <li>1 year or less in erhu, French horn, guitar, flute, alto saxophone</li>
    </ul>
    <br />
    <h3>Skills</h3>
    <ul> 
        <li>Performing, composing, teaching</li>
    </ul>
    <br />
    <h3>Tools</h3>
    <ul> 
        <li>Sibelius, Ableton Live 9</li>
    </ul>
    </div>
</div>

<div class='work-1'>
    <div class='work-wrapper'>
    <h2>Music Composition</h2>
    <p>As a member and officer of UC Berkeley's Undergraduate Composers Club, I composed and performed several original compositions.</p>
    <p><strong>Highlights</strong></p>
    <p><h3>Ringtone</h3><br />
    Composed and performed by Karen Lin</p>
    <div class="videoWrapper">
    <iframe width="560" height="349" src="http://www.youtube.com/embed/rqXlnfH9kUo?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <p><h3>Quiet Night Thoughts</h3><br />
    a classical Chinese poem set to music<br />
    Composed by Karen Lin<br />
    Performed by Ziming Li, Drew Zagieboylo, and Yvonne Lau</p>
    <div class="videoWrapper">
    <iframe width="560" height="349" src="http://www.youtube.com/embed/e1x0yiZzUdo?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
</div>

<div class='work-2'>
    <div class='work-wrapper'>
    <h2>Music Performance</h2>
    <p>Performing on marimba for a friend's composition.</p>
        <p><h3>Caverna Virtual</h3><br />
    Composed by Eric Delgado<br />
    Performed by Karen Lin</p>
    <div class="videoWrapper">
    <iframe width="560" height="349" src="http://www.youtube.com/embed/lNNV-cv-PhM?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
</div>

<div class='work-3'>
    <div class='work-wrapper'>
    <h2>The Mozaic Project</h2>
    <img src="css/images/mozaic.jpg" class='square'>
    <p>I formed an instrumental pop trio with pianist Donald Chen and violinist Michael Hwang. We recorded YouTube videos and played live shows at Sliver Pizzeria. I performed with a variety of percussion instruments, including cajon, tambourine, and glockenspiel.</p>
    <p><a href='https://www.youtube.com/user/mozaicproject' class='obvious-links'>YouTube</a></p>
    <p><a href='https://www.facebook.com/mozaicproject/?fref=ts' class='obvious-links'>Facebook page</a></p>
    </div>
</div>


            


            
            