<div class="work-about">
    <div class='work-wrapper'>
    <img src='css/images/video-logo.gif' class='work-logo'>
    <p>“Film provides an opportunity to marry the power of ideas with the power of images.” <br />-Steven Bochco</p>
    </div>
</div>

<div class='work-1'>
    <div class='work-wrapper'>
    <h2>The Daily Californian</h2>
    <img src="css/images/dailycallogo.png" style='height: 100px; width: 100px;' class='square'>
    <p>I worked for two years as a <a href='http://www.dailycal.org/author/karenlin/' class='obvious-links'>multimedia journalist and editor</a> at The Daily Californian, Berkeley's independent student-run newspaper. I covered everything from protests to art gallery openings to hackathons.</p>
    <p><strong>Highlights:</strong></p>
    <p><a href='https://www.youtube.com/watch?v=X_ln8_SaNmc' class='obvious-links'>Students block Sather Gate to protest police brutality</a></p>
<!--
    <iframe width="420" height="315"
src="https://www.youtube.com/embed/X_ln8_SaNmc">
</iframe>
-->
    <p>A controversial video that was popular on Reddit and garnered 700,000+ views on YouTube. It was awarded Best News Video from the California College Media Association.</p>
    <p><a href='https://www.youtube.com/watch?v=X0bI0JjkM_o' class='obvious-links'>Cal Band, the "Spirit of California"</a></p>
<!--
    <iframe width="420" height="315"
src="https://www.youtube.com/embed/X0bI0JjkM_o">
</iframe>
-->
    <p>This feature takes a look at the important role Cal's marching band plays in school spirit on campus.</p>
    </div>
</div>

<div class='work-2'>
    <div class='work-wrapper'>
    <h2>Irish Independent</h2>
    <p><a href='http://www.independent.ie/' class='obvious-links'>Irish Independent</a> is one of the largest newspapers in Ireland. I contributed footage, graphics, and writing for various projects while I was a Multimedia intern there.</p>
    <strong><p>Highlights:</p></strong>
    <p><a href='http://www.independent.ie/entertainment/music/watch-dublin-buskers-meet-the-street-musicians-on-grafton-street-31395878.html' class='obvious-links'>Meet the street musicians on Grafton Street</a></p>
    <p>To put together this package, I wandered the streets of Dublin, conducting interviews with a fellow intern and collecting b-roll footage. Back in the newsroom, I edited the video and wrote an article to accompany it.</p>
    <p><a href='http://www.independent.ie/life/travel/travel-tv/travel-tv-how-to-beat-the-crowds-in-barcelona-31429396.html' class='obvious-links'>Travel TV: How to Beat the Crowds in Barcelona</a></p>
    <p>I shot footage of beautiful Barcelona during a weekend trip there to help travel reporter Pól Ó Conghaile create this feature about the famous tourist crowds.</p>
    </div>
</div>

<div class="work-about">
    <div class='work-wrapper'>
    <h3>Experience</h3>
    <ul>
        <li>Multimedia Editor, Video Producer at Daily Californian</li>
        <li>Multimedia Intern at Irish Independent</li>
    </ul>
    <h3>Skills</h3>
    <ul>
        <li>Shooting, video editing, interviewing, writing scripts</li>
    </ul>
    <h3>Tools</h3>
    <ul>
        <li>Canon DSLR, Adobe Premiere Pro, AfterEffects</li>
    </ul>
    </div>
</div>
