<div class="work-about">
    <img src='css/images/writing-logo.gif' class='work-logo'>
    <p>Looking back at my childhood notebooks, storytelling was always my destiny.</p>
    <h2>Experience</h2>
    <ul>
        <li>Technical Writing at Rakuten</li>
        <li>English/writing tutor</li>
        <li>Degree in Comparative Literature (English and Chinese)</li>
    </ul>
    <h2>Skills</h2>
    <ul>
        <li>Technical writing, copyediting, teaching, blogging, researching</li>
    </ul>
</div> 

<div class="work-1">
    <div class='work-wrapper'>
    <h2>Personal Blog</h2>
    <p>I publish articles once a month on my <a href='https://karenarialin.com/' class='obvious-links'>blog</a>.</p>
            
    </div>          
</div> 

<div class='work-2'>
    <div class='work-wrapper'> 
    <h2>The Daily Californian</h2>
    <img src="css/images/dailycallogo.png" style='height: 100px; width: 100px;'>
    <p>I wrote articles and opinion columns for <a href='http://www.dailycal.org/author/karenlin/' class='obvious-links'>The Daily Californian</a>, UC Berkeley's student-run newspaper.</p>
    <strong><p>Highlights:</p></strong>
    <p><a href='http://www.dailycal.org/2016/05/05/exploring-the-intellectual-playground/' class='obvious-links'>Exploring the Intellectual Playground</a></p>
    <p>My graduation farewell column</p>
    <p><a href='http://www.dailycal.org/2016/01/22/letting-it-go/' class='obvious-links'>Letting It Go</a></p>
    <p>A Disney-themed meditation on life's irritations</p>
    </div>
</div>

<div class='work-3'>
    <div class='work-wrapper'>
    <h2>The Black Sheep</h2>
    <img src="css/images/blacksheep.png" style='height: 100px; width: 100px;'>
    <p>Fortunately, I'm not too disappointed that all evidence of my embarrassing foray into college humor writing is no longer accessible on the Internet after The Black Sheep redesigned its website. For samples of my satirical writing, feel free to email me.</p>
    </div>
</div>

            