<div class="work-about">
    <div class='work-wrapper'>
    <img src='css/images/writing-logo.gif' class='work-logo'>
    <p>“There’s always room for a story that can transport people to another place.” <br />-J.K. Rowling</p>
    </div>
</div> 

<div class="work-1">
    <div class='work-wrapper'>
    <h2>Personal Blog</h2>
    <p>I <a href='https://karenarialin.com/' class='obvious-links'>publish</a> at least once a month on casual topics that include travel, college life, and writing. I'm currently working on the <a href='https://karenarialin.com/category/alphabet-project/' class='obvious-links'>Alphabet Project</a>, where I write an article for each letter of the alphabet.</p>
            
    </div>          
</div> 

<div class='work-2'>
    <div class='work-wrapper'> 
    <h2>The Daily Californian</h2>
    <img src="css/images/dailycallogo.png" style='height: 100px; width: 100px;' class='square'>
    <p>I wrote <a href='http://www.dailycal.org/author/karenlin/' class='obvious-links'>articles and opinion columns</a> for The Daily Californian, UC Berkeley's student-run newspaper.</p>
    <strong><p>Highlights</p></strong>
    <p><a href='http://www.dailycal.org/2016/05/05/exploring-the-intellectual-playground/' class='obvious-links'>Exploring the Intellectual Playground</a><br />
    My graduation farewell column</p>
    <p><a href='http://www.dailycal.org/2016/01/22/letting-it-go/' class='obvious-links'>Letting It Go</a><br />
    A Disney-themed meditation on life's irritations</p>
    </div>
</div>

<div class='work-3'>
    <div class='work-wrapper'>
    <h2>The Black Sheep</h2>
    <img src="css/images/blacksheep.png" style='height: 100px; width: 100px;'>
    <p>Fortunately, I'm not too disappointed that all evidence of my embarrassing foray into college humor writing is no longer accessible on the Internet after The Black Sheep redesigned its website. For samples of my satirical writing, feel free to email me.</p>
    </div>
</div>

<div class="work-about">
    <h3>Experience</h3>
    <ul>
        <li>Technical writing at Rakuten USA</li>
        <li>Freelance English and writing tutoring</li>
        <li>Marketing writing at U Music Education Foundation</li>
        <li>Humor writing at Black Sheep</li>
        <li>Writing articles for The Daily Californian</li>
    </ul>
    <h3>Skills</h3>
    <ul>
        <li>Document design, marketing writing, academic writing, journalism, copyediting, teaching, blogging, humor writing</li>
    </ul>
    <h3>Tools</h3>
    <ul>
        <li>MadCap Flare, WordPress, Adobe InDesign</li>
    </ul>
    </div>
</div> 

            