---
---

// start content



$aquamarine: yellow;

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: $aquamarine;
    margin-top: 50px;
}

.page {
    height: 100%;
    text-align: center;
    margin: 0;
}
