{% include head.html %}

    {% include header.html %}

    <div class="landing">
        <div class='landing-wrapper'>
        <h1>Karen A. Lin</h1>
        <h2>Engineering Words, Designing Music</h2>
            <p class='landing-description'>Hello, I'm Karen. I <a href='design.html' class='obvious-links'>design</a>, <a href='writing.html' class='obvious-links'>write</a>,  and <a href='code.html' class='obvious-links'>code</a>.<br> Sometimes I produce <a href='video.html' class='obvious-links'>videos</a> and make <a href='music.html' class='obvious-links'>music</a>.</p>
        </div>
    </div>

    <div class="about">
        <div class='work-wrapper'>
        <h1>About Me</h1>
        <div class='picture'><img src="css/images/squirrel.gif"></div>
        <div>
            <strong>Motto</strong> 
            <p>I live to learn.</p>
        </div>
        <div>
            <p><strong>Location</strong></p>
            <p>I'm a San Francisco Bay Area native.</p>
        </div>
        <div>
            <p><strong>Education</strong></p>
            <p>UC Berkeley, bachelor degrees in Comparative Literature and Music</p>
        </div>
        <div>
            <p><strong>Sports</strong> </p>
            <p>Track and field, gymnastics, martial arts, dance. I've also played soccer, but I'm not as good at sports that require throwing, hitting, or kicking a ball.</p>
        </div>
        <div>
            <p><strong>Languages</strong></p>
            <p>English &amp; Mandarin Chinese, learned bits of French, Taiwanese, Japanese, Korean. I'm fascinated with foreign languages and linguistics.</p>
        </div>
        <div>
            <p><strong>Pets</strong> </p>
            <p>None, but I would love to pet your adorable dog.</p>
        </div>
        <div>
            <p><strong>Relationship to Nature</strong> </p>
            <p>Camping, hiking, and backpacking among the trees give me life energy.</p>
        </div>
        </div>
    </div>

    <div class="work-1">
        <div class='work-wrapper'>
        <img src='css/images/writing-logo.gif' class='work-logo'>
        <p>As a <strong>writer</strong>, I build clear, cohesive narratives that entertain, educate, and inspire. My writing approach helps me tell stories through many creative platforms.</p>
        <img src='css/images/design-logo.gif' class='work-logo'>
        <p>Like writing, <strong>design</strong> is the art of discovering the most creative and practical way to guide people through workflows and thought processes, especially when there's no right answer.</p>
        <img src='css/images/code-logo.gif' class='work-logo'>
        <p>Treating <strong>code</strong> like a story with logical, sequential order helps me focus on the needs of human users. I'm also a stickler for documentation.</p>
        <img src='css/images/video-logo.gif' class='work-logo'>
        <p>I shoot and edit <strong>video</strong> the same way I write, painting a cohesive picture and making sure transitions flow smoothly. Video is especially thrilling because it weaves together layers of narratives: sounds, visuals, and motion.</p>
        <img src='css/images/music-logo.gif' class='work-logo'>
        <p><strong>Music</strong> ties people together so powerfully. As a composer and performer, I use it to express my emotions for the enjoyment of others.</p>
        </div>
    </div>

{% include footer.html %}