{% include head.html %}

    {% include header.html %}

    <div class="landing">
        <div class='landing-wrapper'>
        <h1>Karen Aria Lin</h1>
            <p class='landing-description'>Hello, I'm Karen. I <a href='design.html' class='obvious-links'>design and develop</a> user experiences.<br> Sometimes I <a href='writing.html' class='obvious-links'>write</a> and produce <a href='video.html' class='obvious-links'>videos</a>.</p>
        </div>
    </div>

    <div class="about">
        <h1>About Me</h1>
        <div class='picture'><img id='myImg' src="css/images/squirrel.gif" alt='Graduation Day with a squirrel'></div>
        <div id="myModal" class="modal">
            <span class="close">×</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
        <div class='both'>
        <div class='left-side'>
        <div class='about-box'>
            <img src='css/images/golden-gate.gif'>
            <p><strong>Location</strong><br />I'm a San Francisco Bay Area native.</p>
        </div>
        <hr>
        <div class='about-box'>
            <img src='css/images/cal.gif'>
            <p><strong>Education</strong><br />UC Berkeley, bachelor degrees in Comparative Literature and Music</p>     
        </div>
        <hr>
        <div class='about-box'>
            <img src='css/images/track.gif'>
            <p><strong>Sports</strong><br />Track and field, gymnastics, and dance. I'm not as good at sports that require throwing, hitting, or kicking a ball.</p>
        </div>
        </div>
        <hr class='divider'>
        <div class="verticalLine">
            <div class='right-side'>
            <div class='about-box'> 
            <img src='css/images/language.gif'>
            <p><strong>Languages</strong><br />English &amp; Mandarin Chinese. I'm fascinated with foreign languages and linguistics.</p>    
        </div>
        <hr>
        <div class='about-box'>
            <img src='css/images/pets.gif'>
            <p><strong>Pets</strong><br />None, but I would love to pet your adorable dog.</p>
        </div>
        <hr>
        <div class='about-box'>
            <img src='css/images/nature.gif'>
            <p><strong>Relationship to Nature</strong><br />Camping, hiking, and backpacking among the trees give me life energy.</p>  
        </div>
        </div>
        </div>
        </div>
    </div>

    <div class="work-1">
        <div class='work-wrapper'>
        <h2>Engineering Words, Designing Music</h2>
        <img src='css/images/writing-logo.gif' class='work-logo'>
        <p>As a <strong>writer</strong>, I build clear, cohesive narratives that entertain, educate, and inspire. My writing approach helps me tell stories through many creative platforms.</p>
        <img src='css/images/design-logo.gif' class='work-logo'>
        <p>Like writing, <strong>design</strong> is the art of discovering the most creative and practical way to guide people through workflows and thought processes, especially when there's no right answer.</p>
        <img src='css/images/code-logo.gif' class='work-logo'>
        <p>Treating <strong>code</strong> like a story with logical, sequential order helps me focus on the needs of human users. I'm also a stickler for documentation.</p>
        <img src='css/images/video-logo.gif' class='work-logo'>
        <p>I shoot and edit <strong>video</strong> the same way I write, painting a cohesive picture and making sure transitions flow smoothly. Video is especially thrilling because it weaves together layers of narratives: sounds, visuals, and motion.</p>
        <img src='css/images/music-logo.gif' class='work-logo'>
        <p><strong>Music</strong> ties people together so powerfully. As a composer and performer, I use it to express my emotions for the enjoyment of others.</p>
        <a href='css/Karen-Lin-Resume.pdf' class='button' target="_blank">View Resume</a>
        </div>
        
    </div>

{% include footer.html %}