{% include head.html %}

    {% include header.html %}

    <div class="work-landing">
    <h1>Work</h1>
    <ul class='work-links'>
        <li class='design-link work-link'><a href='design.html'>Design</a></li>
        <li class='code-link work-link'><a href='code.html'>Code</a></li>
        <li class='writing-link work-link'><a href='writing.html'>Writing</a></li>
        <li class='video-link work-link underline'><a href='video.html'>Video</a></li>
        <li class='music-link work-link'><a href='music.html'>Music</a></li>
        <span class='stretch'></span>
    </ul>
</div>

    {% include video-include.html %}


{% include footer.html %}