{% include head.html %}

    {% include header.html %}

    <div class="work-landing">
        <h1>Work</h1>
        <ul class='work-links'>
			<li class='writing-link work-link'>Writing</li>
			<li class='design-link work-link'>Design</li>
			<li class='code-link work-link'>Code</li>
			<li class='video-link work-link'>Video</li>
			<li class='music-link work-link'>Music</li>
            <span class='stretch'></span>
		</ul>
    </div>

    <div id='writing' class='work-section'>
        {% include writing.html %}
    </div>

    <div id='design' class='work-section'>
        {% include design.html %}
    </div>

    <div id='code' class='work-section'>
        {% include code.html %}
    </div>

    <div id='video' class='work-section'>
         {% include video.html %}   
    </div>

    <div id='music' class='work-section'>
        {% include music.html %}   
    </div>
    

{% include footer.html %}